*{
    margin:0;
    padding: 0;
}

.cal{
    width: 500px;
    height: 700px;
    margin: 50px auto;
    background-color:black;

}

.cal-wrap{
    width: 440px;
    margin: 0 auto;
    padding: 30px 0;
}

.display input{
    width: 436px;
    height: 120px;
    border-radius: 10px 10px 0 0 ;
}

.display-result{
    padding: 5px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.row{
    width: 100%;
    
}

.row li{
    float:left;
    list-style: none;

}

.row li input{
    width: 110px;
    display: inline-block;
    height: 100px;
    font-size: 24px;
    border: 1px solid black;
}

.row li input:hover{
    background-color: darkgray;
}

.row li input:focus{
    background-color: lightcoral;
}

.row li .col2{
    width: 220px;
    border-radius: 0 0 0 10px;
}
.row li .equal{
    border-radius: 0 0 10px 0;
}

.clear-fix{
    clear: both;
}