*{
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;    
}

.header-top{
    width:100%;
    height: 60px;
    background-color: #29292c;
}

.header-wrap{
    width:1180px;
    margin: 0 auto;
}

.header-logo{
    float: left;
    width: 30%;
    height:60px;
}

.logo{
    padding: 5px;
}

.header-search-wrap{
    padding: 10px 0 0 0;
    /* border: 1px solid red; */
}

.header-search{
    float: left;
    width: 280px;
    height:39px;
    border-radius: 20px;
    margin-left: 220px;
    background-color: white;
}

.clear-fix::after{
    content: "";
    display: block;
    height: 0;
    clear: both;
}

.search{
    float: left;
    width: 190px;
    height: 19px;
    padding: 10px;
    margin-left: 20px;
    box-sizing: content-box;
    border: 0;
    outline: none;
}


.submit{
    float: left;
    width: 50px;
    height:39px;
    border-radius: 0 20px 20px 0;
    background: url(/img/tips_tz.png) no-repeat -190px -64px;
    background-color: #fadc5a;
    border: 0;
    outline: none;
}

.header-menu{
    width: 1180px;
    margin: 0 auto;
    height: 60px;
    background-color: white;
}

.menu-list >li{
    float: left;
    
    list-style: none;
    margin: 15px;
    font-size: 18px;
    line-height: 30px;
}

.menu-list >li >a{
    text-decoration: none;
    color: black;
}

.menu-list >li >a:hover{
    color: red;
}

.body-container{
    width: 100%;
    height: 1000px;
    background-color: lightgrey;
}